@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Scrollbar styling */

/* Works on Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--text-color) var(--background-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}

* {
    --beige-color: #EDD59B;
    --blue-color: #1756df;
    --white-mute-color: #f0f0f0;
    --white-color: #FFFFFF;
    --dark-grey-color: #2a2a2a;
    --background-color: var(--white-mute-color);
    --text-color: var(--dark-grey-color);
}

/* These classes are used to switch from clear to dark mode */
.clear-mode {
    --background-color: var(--beige-color);
    --text-color: var(--dark-grey-color);
}

body {
    font-family: 'Inter', sans-serif;
    /* background: linear-gradient(#4b6cb7, #1b3155);
    background-repeat: no-repeat;
    background-attachment: static; */
    background-color: var(--background-color);
    color: var(--text-color);
}

section {
    margin-top: 15vh;
}

a {
    text-decoration: underline;
    color: var(--text-color);
}

strong {
    color: var(--blue-color);
}

button {
    background-color: var(--dark-grey-color);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.underline {
    text-decoration: underline 4px solid var(--text-color);
}


h1 {
    /* font-family: 'Rampart One', cursive; */
    /* font-family: 'Titan One', cursive; */
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
    font-size: 60px;
    /*fix letter spacing with negative value*/
    /* letter-spacing: -4px; */
    color: var(--blue-color);
}

@media screen  and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }
}


.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    top: 50px;
    left: 80vw;
    cursor: pointer;
  }
  
  @media screen and (min-width: 800px) {
      .bm-burger-button {
          display: none;
      }
  }
  
  .bm-burger-bars {
    background-color: var(--blue-color);
  }
  
  .line-style {
    position: absolute;
    height: 20%;
    left: 0;
    right: 0;
  }
  
  .cross-style {
    position: absolute;
    top: 12px;
    right: 2px;
    cursor: pointer;
  }
  .bm-cross {
    background: var(--blue-color);
  }
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  .bm-menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: var(--background-color); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
  }
  
  .bm-overlay {
      background-color: var(--background-color);
  }
  
  .bm-item-list {
    color: var(--text-color);
    margin-left: 10%;
    font-size: 20px;
  }
  .bm-item-list > * {
    display: flex;
    text-decoration: none;
  }
  
  .bm-item-list > * > span {
    margin-left: 10px;
    font-weight: 700;
    color: white;
  }
  